

html{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='26' viewBox='0 0 32 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0v3.994C14 7.864 10.858 11 7 11c-3.866 0-7-3.138-7-7.006V0h2v4.005C2 6.765 4.24 9 7 9c2.756 0 5-2.236 5-4.995V0h2zm0 26v-5.994C14 16.138 10.866 13 7 13c-3.858 0-7 3.137-7 7.006V26h2v-6.005C2 17.235 4.244 15 7 15c2.76 0 5 2.236 5 4.995V26h2zm2-18.994C16 3.136 19.142 0 23 0c3.866 0 7 3.138 7 7.006v9.988C30 20.864 26.858 24 23 24c-3.866 0-7-3.138-7-7.006V7.006zm2-.01C18 4.235 20.244 2 23 2c2.76 0 5 2.236 5 4.995v10.01C28 19.765 25.756 22 23 22c-2.76 0-5-2.236-5-4.995V6.995z' fill='%234c1d97' fill-opacity='0.19' fill-rule='evenodd'/%3E%3C/svg%3E");
    color: rgb(47, 34, 110);
    font-family: 'Antonio', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.quote-container{
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .4 );
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, .2);

}
.quote-text{
    font-size: 3rem;
    font-weight: 600;
}
.long-quote{
    font-size: 2rem;
}
.fa-quote-left{
    font-size: 3rem;

}
.quote-author{
    margin-top: 15px;
    font-size: 3rem;
    font-family: 'Qwitcher Grypen', cursive;
}
.button-container{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
button{
    cursor: pointer;
    font-size: 1.1rem;
    height: 2.5rem;
    border: none;
    border-radius: 8px;
    border-color: #fff;
    background-color: rgb(47, 34, 110);
    outline: none;
    padding: 0.5rem 1.8rem;
    color: #fff;
    box-shadow: 0 0.3rem rgba(99, 99, 99, 0.6);
}
button:hover{
    filter: brightness(110%);
}
button:active{
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.3rem rgba(255, 255, 255, .4);
}
.twitter-button:hover{
    color: #38a1f3; 
}
.fa-twitter{
    font-size: 1.5rem;
}
.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid rgb(47, 34, 110); 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media screen and (max-width:1000px){
    .quote-container{ 
        margin: auto 10px;
    }
    .quote-text{
        font-size: 2.5rem;
    }
}
